@charset 'UTF-8';
body{
    background-color: rgb(241, 236, 236);
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
.primeiroteste {
    background-color: rgb(82, 172, 82);
    color: rgb(2, 2, 223);
}
.distribuicao_linux{
    background-color: rgb(82, 172, 82);
    color: red;
}